<ion-view view-title="测试">
    <ion-content class="slide-page">
        <slider-tabs tabs="2" emitName="testTags" repeatData="message">
            <ion-scroll direction="x" scrollbar-x="false" delegate-handle="rootTagsScroll" overflow-scroll="false"
                        style="height:40px;width:100%;" >
                <div class="root-tags-container" ng-style="containerStyle">
                    <div class="tag" on-finish-render="testTags" ng-repeat="s in message" ng-class="{'active': activeIndex === $index}"
                         on-tap="initActiveIndex($index)">{{s.name}}
                    </div>
                </div>
            </ion-scroll>
            <ion-slides  options="options"  slider="slider">
                <ion-slide-page style="">
                    <ng-include src=' "templates/template1.html" '></ng-include>
                </ion-slide-page>
                <ion-slide-page style="">
                    <ng-include src=' "templates/template2.html" '></ng-include>
                </ion-slide-page>
                <ion-slide-page style="">
                    <ng-include src=' "templates/template3.html" '></ng-include>
                </ion-slide-page>
                <ion-slide-page style="">
                    <ng-include src=' "templates/template4.html" '></ng-include>
                </ion-slide-page>
                <ion-slide-page style="">
                    <ng-include src=' "templates/template5.html" '></ng-include>
                </ion-slide-page>
            </ion-slides>
        </slider-tabs>
    </ion-content>
</ion-view>
<style>
    .slide-page .scroll {
        height: 100%;
    }

    .root-tags-container {
        display: flex;
        display: -webkit-flex;
    }

    .tag {
        flex: 1;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }

    .tag.active {
        color: #2fb9c3;
        border-bottom: 1px solid #2fb9c3;
    }
</style>
