<ion-view view-title="Dashboard">
  <!--<ion-content class="padding">
    <div class="list card" on-tap="g">
      <div class="item item-divider">Recent Updates</div>
      <div class="item item-body">
        <div>
          There is a fire in <b>sector 3</b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Health</div>
      <div class="item item-body">
        <div>
          You ate an apple today!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Upcoming</div>
      <div class="item item-body">
        <div>
          You have <b>29</b> meetings on your calendar tomorrow.
        </div>
      </div>
    </div>
  </ion-content>-->
  <ion-content scroll="false" >
    <tab-slide-box class="email_tabs tabbed-slidebox" tab="0">
      <div class="tsb-icons">
        <div class="tsb-ic-wrp  email-type">
          <ion-scroll direction="x" class="tsb-hscroll" scrollbar-x="false">
            <a href="javascript:;" class="active" >
              收件箱
            </a>
            <a href="javascript:;" >
              发件箱
            </a>
            <a href="javascript:;" >
              草稿箱
            </a>
            <a href="javascript:;" >
              垃圾箱
            </a>
            <a href="javascript:;" >
              移动箱
            </a>
          </ion-scroll>
        </div>
      </div>

      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <ng-include src=' "templates/template1.html" ' ></ng-include>
        </ion-slide>

        <ion-slide>
          <ng-include src=' "templates/template2.html" ' ></ng-include>
        </ion-slide>

        <ion-slide>
          <ng-include src=' "templates/template3.html" ' ></ng-include>
        </ion-slide>

        <ion-slide>
          <ng-include src=' "templates/template4.html" ' ></ng-include>
        </ion-slide>
        <ion-slide>
          <ng-include src=' "templates/template5.html" ' ></ng-include>
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box>
  </ion-content>
</ion-view>
