<ion-view view-title="template2" ng-controller="TemplateTwoCtrl" repeat-title>
    <ion-content class="">
        <ion-refresher
                pulling-text="正在刷新中..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <div style="height:700px;background:olivedrab;">
            template2
        </div>
        <ion-infinite-scroll
                ng-if="true"
                on-infinite="nextPage()"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
